<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#">
    </head>
<body class="d-flex flex-column h-100">
    <header>
        <div class="mb-3 px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center">
                    <h2>Web Form</h2>
                </div>
            </div>
        </div>
    </header>
        <div class="container">
            <div class="mb-3 row">
                <label class="col-sm-2">Name</label>
                <input id="nameSelect" type="text" class="col-sm-10" name="name"></input>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2">Regio's</label>
                <select id="regionsSelect" class="col-sm-10 regions-multiple" name="regions" multiple="multiple"></select>
            </div>        
        </div>
        <div class="d-flex justify-content-center">
            <button id="btnRegionsPost" class="btn btn-primary" onclick="PostRegions()">Submit</button>
        </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span>Version: Production</span>
        </div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

document.onload = GetRegions();

//document.getElementById("btnRegionsPost").onclick = PostRegions();


function PostRegions() {
    
    var name = $("#nameSelect").val();
    var regions = $('#regionsSelect').find(':selected');

    regionlist = [];

    for (i = 0; i < regions.length; i++) {
        regionlist.push(regions[i].value);
    }

    var data = {
        "name": name,
        "regions": regionlist
    }; 

    $.ajax({
        type: "POST",
        url: "/postregions",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (msg) {
            console.log("Regio's toegevoegd!");            
        },
        failure: function (errMsg) {
            alert(errMsg);
        }
    });

}

function GetRegions() {
    var settings = {
      "url": "https://uatreporter.mediahuis.be/swing/datasource/?ds=locations&op=rquery&q=_City%2B_*%2B_%2B",
      "method": "GET",
      "dataType": "xml"      
    };

    $.ajax(settings).done(function (response) {

        $(response).find('ra').each(function() {
            
            var $ra = $(this);

            $ra.find('Row').each(function() {

                var $row = $(this);
                var country = $row.find('COUNTRY').text();
                var province = $row.find('PROVINCE').text();
                var city = $row.find('CITY').text();
                var zipcode = $row.find('ZIPCODE').text();

                var option = document.createElement("option");
                option.value = zipcode;
                option.innerHTML = city + ", " + zipcode;

                $('#regionsSelect').append(option);

            })

        });

        $('#regionsSelect').select2();

    });
}

</script>
</body>
</html>